
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    max-width: 800px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif; 
    background-color: rgb(255, 255, 255); 
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto auto; 
    row-gap: 2rem; 
    width: 100%; 
    max-width: 800px; 
    margin: 0 auto; 
}

main{
    padding: 1rem;
}


#global-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

#global-header nav ul {
    list-style-type: none; 
    padding: 0; 
    display: flex; 
    justify-content: center; 
    gap: 1.5rem; 
}

#global-header nav ul a {
    text-decoration: none; 
    color: rgb(0, 0, 0); 
}


/*---------------------------------- index.html ----------------------------------*/

/*------- Søkefelt -------*/
#global-header form {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 600px;
    width: 20rem;
    margin: 0 auto; 
    padding: 1rem;
}

#global-header form input {
    width: 100%; 
    padding: 0.5rem 1rem; 
    border: 1px solid #000; 
    border-radius: 20px; 
    font-size: 1rem;
    box-sizing: border-box;
}

#global-header form label {
    visibility: hidden;
    position: absolute;
}

form button {
    position: absolute; 
    right: 1rem;
    margin-right: 0.5rem;
    top: 50%; 
    transform: translateY(-50%); 
    background: none; 
    border: none; 
    cursor: pointer; 
    color: #000;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*------- Menypunktene -------*/

.menypunktene {
    flex-direction: column; 
    gap: 1rem; 
    margin: 0;
    align-items: center;
    font-size: 1rem;
}

.menypunktene nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.menypunktene nav ul{
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 2rem;
}

/*------- Ikonene -------*/

.ikonene {
    display: flex; 
    gap: 1rem;
    padding: 1rem;
    justify-content: flex-end;
}

.ikonene a {
    text-decoration: none; 
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    position: relative;
}


/*------- Banner -------*/

#banner {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: right;
    color: #ddd;
}

#banner img {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    border-radius: 20px;
}

#banner h2, #banner p, #banner a {
    position: relative;
    z-index: 2;
    color: rgb(0, 0, 0);
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    max-width: 50%;
}

#banner h2 {
    font-size: 2rem;
    line-height: 1.4;
    margin: 2rem;
    align-self: flex-end;
    text-align: right;
}

#banner p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 2rem;
    align-self: flex-end;
}

#banner a {
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 1rem 1rem;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bold;
    margin: 3rem;
    align-self: flex-end;
}

#banner a:hover {
    background-color: black;
    color: white;
    transform: scale(1.05);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

/*------- Produkter -------*/

#produkter h2{
    text-align: center;
    margin: 1rem;
    padding: 0.5rem;
    font-size: 2.5rem;
}

#produkter .ingress-produkter{
    text-align: center;
    margin: 1rem;
    padding: 0.5rem;
    font-size: 16px;
}

.btn-produkter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem; 
    height: 3rem; 
    background-color: rgb(255, 255, 255); 
    color: rgb(0, 0, 0); 
    border: 1px solid rgb(120, 120, 120); 
    border-radius: 30px; 
    font-size: 1rem; 
    font-weight: bold; 
    cursor: pointer; 
    transition: all 0.3s ease; 
}

.btn-produkter:hover {
    background-color: rgb(120, 120, 120); 
    color: rgb(255, 255, 255); 
}

.btn-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 1rem; 
    flex-wrap: wrap; 
    padding: 1rem;
}

/*------- Produktkort -------*/

#produkter img{
    width: 100%;
    max-width: 800px;
    object-fit: fill;
    border-radius: 30px;
}

.produkt-kort a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}


.produkt-kort h3{
    display: inline-block; 
    width: 50%; 
    vertical-align: middle; 
}

.pris{
    display: inline-block; 
    width: 48%; 
    font-size: 18px;
    font-weight: normal;
    color: #000000; 
    text-align: right;
}

/*------- Kategorier -------*/


#kategorier {
    text-align: center;
    background-color: #ffffff;
}

#kategorier h2 {
    font-size: 2rem;
    padding: 6rem 1rem 0;
    font-weight: bold;
    text-align: center;
}

#kategorier .ingress-kategorier {
    font-size: 18px;
    padding: 0 0 3rem;
}


#kategorier article {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 1rem 0;
}

#kategorier img {
    width: 100%;
    height: auto;
    display: block;
}

#kategorier h3 {
    position: absolute; 
    color: white;
    border-radius: 5px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    z-index: 1; 
}

/*------- Anmeldelser -------*/
h2 {
    text-align: left;
    font-size: 2.5rem;
}

.reviews article {
    background-color: #fff; 
    padding: 1.5rem; 
    margin: 1rem auto;
    border: 1px solid #e9e9e9;
    border-radius: 20px;
    max-width: 600px;
}

.reviews{
    padding: 2rem;

}

.reviews article img {
    max-width: 150px;
    width: 100px; 
    height: 100px;
    border: 1px #000;
    border-radius: 50%; 
    object-fit: cover;
}

.reviews article p {
    font-size: 16px; 
    line-height: 1.5; 
    margin: 1rem 0 2rem; 
}


/*------- Footer -------*/

.footer {
    background-color: #ffffff;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    text-align: left;
}

.footer-logo {
    text-align: left;
}

.footer-logo h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.footer-logo p {
    font-size: 1rem;
    line-height: 1.5;
    color: #000000;
}

.footer-info a{
    text-decoration: none;
    color: #000000;
}

.footer-info h4,
.footer-sv h4,
.footer-sm h4 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.footer-info p,
.footer-sv ul,
.footer-sm ul {
    font-size: 1rem;
    line-height: 1.5;
    color: #000000;
}

.footer-info p i {
    margin-right: 0.5rem;
}

.footer-sv ul {
    list-style: none;
    padding: 0;
}

.footer-sv ul li a {
    text-decoration: none;
    color: #000;
}

.footer-sm ul {
    list-style: none;
    display: flex;
    justify-content: left;
    gap: 2rem;
    padding: 0;
}

.footer-sm ul li a {
    font-size: 1.5rem;
    color: #000000;
}


/*---------------------------------- product.html ----------------------------------*/

/*------- Brødsmulesti -------*/
.breadcrumb-product {
    display: flex;
    list-style: none;
    padding: 1rem;
    margin: 1rem 0;
}

.breadcrumb-product li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.breadcrumb-product a {
    text-decoration: none;
    color: #000000;
}

.breadcrumb-product i {
    margin: 1rem;
}

/*------- Produkt -------*/
.main-product {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}

.product-hovedbilde img {
    width: 100%;
    max-width: 800px;
}

.product-mini-bilder img {
    width: 100%;
    max-width: 800px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.product-name {
    max-width: 100%;
}

.product-name h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.product-name a {
    display: block;
    font-size: 1rem;
    color: #000000;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.product-name p {
    margin: 0.5rem 0;
}

.product-name p span {
    font-weight: bold;
    color: #333;
}

/*------- Lignende produkter -------*/
.lignende-produkter {
    width: 100%;
    margin-top: 2rem;
}

.lignende-produkter h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.lignende-produkt img {
    width: 100%;
    max-width: 800px;
    margin-bottom: 0.5rem;
}

.lignende-produkt h4 {
    font-size: 1rem;
    margin: 0.5rem 0;
}

.lignende-produkt p {
    font-size: 0.9rem;
    color: #666;
}

.lignende-produkt a{
    text-decoration: none;
    color: #000000;
}


/*---------------------------------- checkout.html ----------------------------------*/

.main-checkout h2 {
    text-align: left;
    font-size: 2rem;
    padding: 1rem;
    text-transform: uppercase;
}


/*------- Brødsmulesti -------*/
.breadcrumb-checkout {
    padding: 0.5rem 1rem; 
    font-size: 0.9rem; 
}

.breadcrumb-checkout ul {
    display: flex;
    gap: 0.5rem; 
    list-style: none; 
    margin: 0;
    padding: 0;
}

.breadcrumb-checkout li {
    display: inline; 
}

.breadcrumb-checkout a {
    text-decoration: none; 
}

.breadcrumb-checkout i {
    margin-right: 0.5rem; 
    font-size: 1rem; 
}


/*------- Handlekurv -------*/

.handlekurv {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: white;
    border: 1px solid #e9e9e9;}

.handlekurv-produkt {
    display: grid;
    width: 100%;;
}

.handlekurv-produkt img {
    display: grid;
    width: 100%;
    object-fit: cover;
    max-width: 350px;
    padding: 1rem;
}

.handlekurv-produkt h3 {
    display: grid;
    width: 100%;
    text-transform: uppercase;
    margin: 2rem 5rem 0.5rem;
}

.handlekurv-produkt p {
    display: grid;
    width: 100%;
    margin: 0rem 5rem 0.5rem;
}

/*------- Kontaktinfomasjon -------*/

.kontaktinfo h3{
    padding: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.kontaktinfo {
    background-color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    border: 1px solid #e9e9e9;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.kontaktinfo form {
    display: flex;
    flex-direction: column; 
    padding: 1rem;
}

.kontaktinfo label {
    text-align: left; 
    font-weight: bold;
    margin-top: 1rem;
}

.kontaktinfo p {
    display: block;
    width: 100%;
    font-size: 1rem; 
    font-weight: bold; 
    margin-top: 1rem;
    margin-bottom: 0.2rem;
}

.kontaktinfo input {
    display: flex;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 1rem;
    padding: 1rem;
}

.kontaktinfo input[type="submit"] {
    width: 100%;
    background-color: #414141;
    color: white;
    cursor: pointer;
    border: none;
    padding: 0.8rem 1rem;
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
}

.kontaktinfo a {
    font-size: 0.9rem;
    text-align: center;
    margin-top: 0.5rem;
}

/*------- Levering -------*/

.levering h3 {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.levering-valg {
    display: grid;
    grid-template-columns: auto 1fr; 
    gap: 1rem; 
    padding: 1rem;
    border: 1px solid #e9e9e9;
    background-color: #ffffff;
    align-items: start; 
}

.levering-valg input[type="radio"] {
    grid-column: 1;
    accent-color: #000000;
}

.levering-valg span {
    grid-column: 2; 
    font-weight: bold;
    align-self: center;
}

.levering-valg p {
    grid-column: span 2;
    margin: 0.5rem 0 0;
    font-size: 0.9rem;
    color: #666666;
    line-height: 1.5;
}

.levering {
    background-color: white;
    padding: 1.5rem;
    margin: 1rem 0;
    border: 1px solid #e9e9e9;
}

.levering form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


/*------- Betaling -------*/

.betaling h3 {
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem;
    margin-bottom: 0;
}

.betaling {
    background-color: white;
    padding: 1rem;
    border: 1px solid #e9e9e9;}

.betaling form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.betaling input {
    padding: 1rem;
    border: 1px solid #e9e9e9;
}

.betaling button{
    color: white;
    cursor: pointer;
    border: none;
    padding: 1rem;
}

.betaling p{
    display: flex;
    justify-content: center;
    font-size: 1rem;
    line-height: 1.5;
}

.fullfør-kjøp {
    background-color: #ffffff; 
    padding: 1rem; 
    border-top: 1px solid #e9e9e9; 
    text-align: center; 
    margin-top: 1rem; 
}

.fullfør-kjøp p:first-of-type {
    font-size: 1rem; 
    font-weight: normal;
    margin-bottom: 0;
}

.fullfør-kjøp p:last-of-type {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
    margin-top: 0;
    margin-bottom: 0;
}

.fullfør-kjøp input[type="submit"] {
    background-color: #414141; 
    color: #ffffff;
    border: none;
    padding: 1rem;
    font-size: 1rem; 
    cursor: pointer; 
    width: 100%; 
}

.fullfør-kjøp input[type="submit"]:hover {
    background-color: #333333; 
}

.checkbokser{
    display: flex;
    justify-content: center;
    gap: 1rem;
}


/*---------------------------------- Desktop ----------------------------------*/

@media only screen and (min-width: 801px){
    
    body {
        margin: 0 auto;
        max-width: 1200px;
    }
    
    #grid-container {
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: auto auto auto; 
        row-gap: 2rem; 
        width: 100%; 
        max-width: 1200px; 
        margin: 0 auto; 
    }

    #global-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    /*------- Header -------*/
    #global-header form {
        padding-left: 0;
        margin: 0; 
    }

    .menypunktene {
        flex-direction: row; 
        place-items: center;
    }

    /*------- Footer -------*/
    .footer{
        border-top: 1px solid #b8b8b8;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .footer-logo {
        grid-column: span 3;
    }

    .footer-sv {
        grid-column: span 1;
        justify-self: center;
        text-align: left;
    }

    .footer-sm {
        grid-column: span 1;
        justify-self: center;
        text-align: center;
    }
    /*---------------------------------- index.html ----------------------------------*/

     /*------- Produkter -------*/

    #produkter h2{
    padding-top: 3rem;
     }

     .btn-container {
        padding-bottom: 3rem;
     }

     #produkter {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 1rem;
        margin-right: 1rem;
     }

     .produkt-kort {
        max-width: 350px;
        flex-wrap: wrap;
        padding-bottom: 4rem;
     }

     #produkter h2, .ingress-produkter, .btn-container{
        grid-column: span 3;
     }


     /*------- Kategorier -------*/

     #kategorier {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
     }

     #kategorier h2{
        padding-top: 0;
        grid-column: span 3;
     }
    
     .ingress-kategorier{
        grid-column: span 3;
     }

     .kategori1, .kategori2, .kategori3{
        max-width: 386px;
     }

     .kategori4{
        grid-column: span 2;
        width: 864px;
        max-height: 300px;
        display: flex;
     }

     .kategori5{
        max-width: 300px;
        display: flex;
        justify-self: end;
     }
    
    /*------- Anmeldelser -------*/
    .reviews h2{
        grid-column: span 4;
    }
     .reviews {
        display: grid;
        grid-template-columns: 4fr 1fr;
        padding: 0;
        gap: 0.5rem;
     }

     .review-kort {
        width: 289px;
     }


    /*---------------------------------- product.html ----------------------------------*/
    

    .main-product {
        display: grid;
        grid-template-columns: 700px 440px;
        max-width: 1200px;
        margin: 0 auto;
        gap: 2rem; 
        align-items: start;
    }

    /*------- Produkt -------*/

    .handlekurv-produkt {
        display: grid;
        grid-template-columns: 1fr 2fr; /* Bildet tar 1 del, teksten 2 deler */
        gap: 1rem; /* Avstand mellom bilde og tekst */
        align-items: center; /* Sentrer elementene vertikalt */
        padding: 1rem;
    }

    .handlekurv-produkt img {
        grid-row: span 3; 
        width: 100%;
    }

    .handlekurv-produkt h3 {
        grid-column: 2; 
        margin: 0;
        padding-top: 5rem;
    }
    
    .handlekurv-produkt p {
        grid-column: 2;
        margin: 0.5rem 0;
        font-size: 1rem;
        align-self: start;
    }

    /*------- Lignende Produkter -------*/
    .lignende-produkter {
        grid-column: span 2; 
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1rem;
        margin-top: 2rem;
    }

    .lignende-produkter h3{
        grid-column: span 4;
    }

    .lignende-produkter img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        margin-bottom: 0.5rem;
    }


    /*---------------------------------- checkout.html ----------------------------------*/

    .main-checkout h1{
        text-align: center;
    }

    .handlekurv h2 {
        text-align: left;
    }

    /*------- Handlekurv  -------*/
    .handlekurv-produkt {
        display: grid;
        grid-template-columns: 1fr 2fr; 
        gap: 1rem;
        align-items: center;
        padding: 1rem 0;
    }
    
    .handlekurv-produkt img {
        width: 100%;
        max-width: 400px;
        height: auto;
    }
    
    .tekst-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem; 
    }
    
    .tekst-container h3 {
        font-weight: bold;
        text-transform: uppercase;

    }
    
    /*------- Dine Opplysninger -------*/

    .kontaktinfo h3{
        padding: 0;
        text-transform: capitalize; 
    }

    .kontaktinfo form {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 1rem; 
        margin-bottom: 2rem;
    }

    .kontaktinfo label{
        font-weight: bold;
        grid-column: span 1;
    }

    .kontaktinfo label[for="fornavn"]{
        grid-column: 2;
        grid-row: 3;
    }

    .kontaktinfo label[for="etternavn"]{
        grid-column: 2;
        grid-row: 2;
    }

    .kontaktinfo label[for="postnummer"]{
        grid-column: 1;
        grid-row: 6;
    }

    .kontaktinfo label[for="poststed"]{
        grid-column: 2;
        grid-row: 6;
    }


    .kontaktinfo input#adresse,
    .kontaktinfo label[for="adresse"] {
        grid-column: span 2; /* Gateadresse skal ta begge kolonnene */
    }


    .kontaktinfo h3, 
    .kontaktinfo input#epost,
    .kontaktinfo input#telefon,
    .kontaktinfo form input[type="submit"],
    .kontaktinfo form a {
        grid-column: span 2; /* Disse elementene skal strekke seg over begge kolonnene */
    }


    /*------- Betaling -------*/

    .betaling form {
        display: grid;
        gap: 1rem; 
    }

    .betaling #kortnummer {
        grid-column: span 2; 
        width: 100%;
    }

    .betaling label[for="utlopsdato"] {
        grid-column: 1;
        grid-row: 3; 
    }

    .betaling label[for="cvc"] {
        grid-column: 2;
        grid-row: 3; 
    }

    .betaling .samtykke{
        text-align: center;
    }

}